img:first-child {
  width:100%;
  display:block;
  position:absolute;
  left:0;
  top:1.5rem;
  z-index:-1;
}
div img {
  height:3.5rem;
  width:auto;
  position: absolute;
  top:.2rem;
  right:.3rem;
  transition: transform .2s;
  padding:.5rem;
}
div img:hover {
  transform: scale(1.12);
}
div {
  background: #fff;
  padding:15px;
  margin-top:20rem;
  position:relative;
}
ul {
  list-style: none;
  padding-left:0;
  margin:0;
}
h3, li {
  color: #3f4447;
  border-bottom:1px solid #e9e6e6;
  padding-top:10px;
}
li {
  padding: 20px;
}
h3 {
  padding-bottom: 15px;
  font-size: 1.2rem;
  border-bottom: 1px solid #cdcdcd;
}
h2 {
  margin-top:2.5rem;
  padding-bottom:10px;
  border-bottom: 3px solid #cdcdcd;
}
.negativeMsg {
  color:#fff;
  background-color: #e62e00;
}
.positiveMsg {
  background-color: rgba(57, 211, 18,.95);
  color:#0f301a;
}
.error {
  position:fixed;
  bottom:5rem;
  opacity:100;
  text-align: center;
  border-radius:3px;
  border:1px solid #0f301a;
  width:80%;
  left:50%;
  transform: translateX(-50%);
  opacity:0;
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
  -ms-animation: fadein 5s;
  -o-animation: fadein 5s;
  animation: fadein 5s;
}
section {
  background:rgb(236, 235, 235) !important;
  width:100%;
  min-height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index: -2;
}
