<div>
  <label for="country"  [translate]="'COUNTRY.CHOOSE'"></label>
  <select name="country" [(ngModel)]="selectedValue">
    <option value="0"  [translate]="'COUNTRY.SELECT_COUNTRY'" selected>
      </option>
    <option value="{{country.name}}" *ngFor="let country of countryList">
      {{country.name}}
    </option>
  </select>
  <button (click)="getRecipeForCountry()" [translate]="'COUNTRY.GET_RECIPE'"></button>
  <p  [translate]="'COUNTRY.OR'"></p>
  <button (click)="getLocation()"  [translate]="'COUNTRY.GET_LOCATION'"></button>
</div>
