<section>
  <img src="../../assets/Icons/settings.png" alt="Settings" [routerLink]="['/settings']">
  <div [routerLink]="['/category/starter']">
    <h2 [translate]="'CATEGORIES.STARTER'"></h2>
  </div>
  <div [routerLink]="['/category/main-course']">
    <h2 [translate]="'CATEGORIES.MAIN_COURSE'"></h2>
  </div>
  <div [routerLink]="['/category/dessert']">
    <h2 [translate]="'CATEGORIES.DESSERT'"></h2>
  </div>
  <div [routerLink]="['/ingredients']">
    <h2 [translate]="'CATEGORIES.INGREDIENTS'"></h2>
  </div>
  <div [routerLink]="['/country']">
    <h2 [translate]="'CATEGORIES.COUNTRY'"></h2>
  </div>
</section>

