<section>
  <div [routerLink]="['/category/starter']">
    <embed src="../../assets/Icons/starter.svg" alt="">
    <h2 [translate]="'CATEGORIES.STARTER'"></h2>
  </div>
  <div [routerLink]="['/category/main-course']">
    <embed src="../../assets/Icons/MainCourse.svg" alt="">
    <h2 [translate]="'CATEGORIES.MAIN_COURSE'"></h2>
  </div>
  <div [routerLink]="['/category/dessert']">
    <embed src="../../assets/Icons/cupcakeIcon.svg" alt="">
    <h2 [translate]="'CATEGORIES.DESSERT'"></h2>
  </div>
  <div [routerLink]="['/ingredients']">
    <embed src="../../assets/Icons/ingredientsIconC.svg" alt="">
    <h2 [translate]="'CATEGORIES.INGREDIENTS'"></h2>
  </div>
  <div [routerLink]="['/country']">
    <embed src="../../assets/Icons/countryIconC.svg" alt="">
    <h2 [translate]="'CATEGORIES.COUNTRY'"></h2>
  </div>
</section>

