/* ###################################################### */
/* ##################### Variables ###################### */
/* ###################################################### */
$top-bar-height: 3.5rem;
$bottom-bar-height: 4rem;
$theme-colors: (
  "primary": rgb(255, 187, 15),
  "text": #cdcdcd
);
/* ###################################################### */
/* ################### Tabs & Top bar ################### */
/* ###################################################### */
div:first-of-type {
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.fixed-top img {
  height:3rem;
  width:auto;
  margin-left:-15px;
}
h1 {
  display:inline-block;
  font-size:1.5rem;
  margin-right:20px;
  margin-bottom:5px;
}
footer div {
  display:inline-block;
  text-align:center;
}
footer img {
  height:4rem;
  padding:.5rem;
  width:auto;
  transition: transform .2s;
}
div:first-of-type, footer {
  background-color: map-get($theme-colors, "primary");
  color:white;
}
footer img:hover, footer img:focus, div:first-of-type img:hover {
  transform: scale(1.12);
}
/* ###################################################### */
/* ############### Router Outlet container ############## */
/* ###################################################### */
.container {
  margin-top: calc(#{$top-bar-height} + 1rem);
  margin-bottom: calc(#{$bottom-bar-height} + 1rem);
}

