/* ###################################################### */
/* ##################### Variables ###################### */
/* ###################################################### */
$top-bar-height: 3.5rem;
$bottom-bar-height: 4rem;
$theme-colors: (
  "primary": rgb(255, 187, 15),
  "text": #cdcdcd
);
/* ###################################################### */
/* ################### Tabs & Top bar ################### */
/* ###################################################### */
header {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  display:inline-block;
  font-size:1.5rem;
  margin-right:20px;
  margin-bottom:5px;
  text-align: center;
}
footer div {
  display:inline-block;
  text-align:center;
}
footer img {
  height:4rem;
  padding:.5rem;
  width:auto;
  transition: transform .2s;
}
header, footer {
  background-color: map-get($theme-colors, "primary");
  color:white;
  transition: transform .2s;
}
footer img:hover, footer img:focus, div:first-of-type img:hover {
  transform: scale(1.12);
}
header img {
  padding:.2rem;
  height:3rem;
  width:auto;
  margin-left:auto;
}header div:nth-of-type(2) img {
  margin-right:1.3rem;
}
header div:nth-of-type(2) {
  text-align: right;
}
header div:nth-of-type(2) img:hover, img:focus {
  transform: rotate(360deg);
  transition: transform .4s;
  cursor:pointer;
}
/* ###################################################### */
/* ############### Router Outlet container ############## */
/* ###################################################### */
.container {
  margin-top: calc(#{$top-bar-height} + 1rem);
  margin-bottom: calc(#{$bottom-bar-height} + 1rem);
}

