<div class='fixed-top'>
  <div class='col-3'>
    <img  src="../assets/Icons/back.png" alt="Back" style='fill:white;' (click)="navigateToLastRoute()">
  </div>
  <h1>{{title}}</h1>
</div>
<div class='container' [@myAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>
<footer class='fixed-bottom'>
  <div class='col-4'>
    <img src="../assets/Icons/search.png" alt="Search" [routerLink]="['/search']">
  </div>
  <div class='col-4'>
    <img src="../assets/Icons/home.png" alt="Home" [routerLink]="['/']">
  </div>
  <div class='col-4'>
    <img src="../assets/Icons/favourite.png" alt="Favourites" [routerLink]="['/favourites']">
  </div>
</footer>
