div {
  border: 1px solid #cdcdcd;
  display:flex;
  align-items:center;
  margin:10px;
  transition-duration: .2s;
  animation-name: moveinup;
  animation-duration: 3s;
  position: relative;
  img {
    height:10rem;
    border-right:1px solid #cdcdcd;
  }
  h2 {
    flex:3;
    padding:15px;
    background: #fff;
  }
}
div:hover {
  cursor:pointer;
  transform: scale(1.04);
  box-shadow: 8px 10px 12px -6px;
}

@media only screen and (max-width: 438px) {
  div {
    flex-direction: column;
    img {
      width:100%;
      height:auto;
      border-right:0;
      border-top:1px solid #cdcdcd;
      margin-top:3.8rem;
    }
    h2 {
      position:absolute;
      font-size:1.2rem !important;
    }
  }
}

