<div [routerLink]="['/category/chicken']">
  <h2 [translate]="'INGREDIENTS.CHICKEN'"></h2>
</div>
<div [routerLink]="['/category/beef']">
  <h2 [translate]="'INGREDIENTS.BEEF'"></h2>
</div>
<div [routerLink]="['/category/duck']">
  <h2 [translate]="'INGREDIENTS.DUCK'"></h2>
</div>
<div [routerLink]="['/category/lamb']">
  <h2 [translate]="'INGREDIENTS.LAMB'"></h2>
</div>
<div [routerLink]="['/category/potatoe']">
  <h2 [translate]="'INGREDIENTS.POTATOE'"></h2>
</div>
<div [routerLink]="['/category/turkey']">
  <h2 [translate]="'INGREDIENTS.TURKEY'"></h2>
</div>
<div [routerLink]="['/category/fish']">
  <h2 [translate]="'INGREDIENTS.FISH'"></h2>
</div>
<div [routerLink]="['/category/pasta']">
  <h2 [translate]="'INGREDIENTS.PASTA'"></h2>
</div>
<div [routerLink]="['/category/curry']">
  <h2 [translate]="'INGREDIENTS.CURRY'"></h2>
</div>
<section></section>
