<div [routerLink]="['/category/chicken']">
  <h2>Chicken</h2>
</div>
<div [routerLink]="['/category/beef']">
  <h2>Beef</h2>
</div>
<div [routerLink]="['/category/duck']">
  <h2>Duck</h2>
</div>
<div [routerLink]="['/category/lamb']">
  <h2>Lamb</h2>
</div>
<div [routerLink]="['/category/potatoe']">
  <h2>Potatoe</h2>
</div>
<div [routerLink]="['/category/turkey']">
  <h2>Turkey</h2>
</div>
<div [routerLink]="['/category/fish']">
  <h2>Fish</h2>
</div>
<div [routerLink]="['/category/pasta']">
  <h2>Pasta</h2>
</div>
<div [routerLink]="['/category/curry']">
  <h2>Curry</h2>
</div>
