@import '../node_modules/bootstrap/scss/bootstrap.scss';

button {
  background: rgb(255, 164, 44);
  color:#fff;
  border-radius:4px;
}

@keyframes fadein {
  0% { opacity: 0; }
  20%   { opacity: 1; }
  80%   { opacity: 1; }
  100%   { opacity: 0; }
}

@-moz-keyframes fadein {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}

@-ms-keyframes fadein {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}

@-o-keyframes fadein {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
