$body-bg: #fff !important;
$brand-primary: rgb(255, 164, 44);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

:root {
  --text-color: #292f33;
}
p,label,h2,h3,li {
  color: var(--text-color);
  font-family: Verdana, Geneva, sans-serif;
}
.body-class {
  background-color: #343434 !important;
}
select {
  border:1px solid rgb(255, 164, 44);
  background: #fff;
}
button {
  background: $brand-primary;
  color:#fff;
  border-radius:4px;
}

button:hover, select:hover {
  cursor:pointer;
}

@keyframes fadein {
  0% { opacity: 0; }
  20%   { opacity: 1; }
  80%   { opacity: 1; }
  100%   { opacity: 0; }
}

@-moz-keyframes fadein {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}

@-ms-keyframes fadein {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}

@-o-keyframes fadein {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes moveinup {
  from {transform: translateY(1000%);}
  to {transform: translateY(0);}
}

@-moz-keyframes moveinup {
  from {transform: translateY(1000%);}
  to {transform: translateY(0);}
}

@-webkit-keyframes moveinup {
  from {transform: translateY(1000%);}
  to {transform: translateY(0);}
}

@-ms-keyframes moveinup {
  from {transform: translateY(1000%);}
  to {transform: translateY(0);}
}

@-o-keyframes moveinup {
  from {transform: translateY(1000%);}
  to {transform: translateY(0);}
}
