div {
  display:flex;
  width:100%;
  height: calc(100vh - 9.5rem);
  justify-content: center;
  align-items: center;
}
h3 {
  display:block;
}
input {
  width:100%;
  padding:10px;
}
button, input {
  height:4rem;
  border:1px solid #cdcdcd;
}
button {
  width:4rem;
  padding:0;
  img {
    width:100%;
    height:auto;
    transition: transform .2s;
    padding:3px;
  }
  img:hover {
    transform: scale(1.12);
  }
}
button:hover, button:focus {
  background-color:#ffbf80;
}
